<html>
    <head>
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>ScoopRank</title>
<!-- Search Engine -->
<meta name="description" content="ScoopRank is a deep tech product to rank entities over the internet.">
<meta name="image" content="https://media-exp1.licdn.com/dms/image/D4D1BAQFcgrmRgarMuA/company-background_10000/0/1659979583773?e=2147483647&v=beta&t=0Wp-dtGDqnPiHGD1-YZRIO1NAhvvDlvRzXzqs_aYFyk">
<!-- Schema.org for Google -->
<meta itemprop="name" content="ScoopRank">
<meta itemprop="description" content="ScoopRank is a deep tech product to rank entities over the internet.">
<meta itemprop="image" content="https://media-exp1.licdn.com/dms/image/D4D1BAQFcgrmRgarMuA/company-background_10000/0/1659979583773?e=2147483647&v=beta&t=0Wp-dtGDqnPiHGD1-YZRIO1NAhvvDlvRzXzqs_aYFyk">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="ScoopRank">
<meta name="twitter:description" content="ScoopRank is a deep tech product to rank entities over the internet.">
<meta name="twitter:site" content="@ScoopRank2">
<meta name="twitter:creator" content="@ScoopRank2">
<meta name="twitter:image:src" content="https://media-exp1.licdn.com/dms/image/D4D1BAQFcgrmRgarMuA/company-background_10000/0/1659979583773?e=2147483647&v=beta&t=0Wp-dtGDqnPiHGD1-YZRIO1NAhvvDlvRzXzqs_aYFyk">
<!-- Twitter - Article -->
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="ScoopRank">
<meta name="og:description" content="ScoopRank is a deep tech product to rank entities over the internet.">
<meta name="og:image" content="https://media-exp1.licdn.com/dms/image/D4D1BAQFcgrmRgarMuA/company-background_10000/0/1659979583773?e=2147483647&v=beta&t=0Wp-dtGDqnPiHGD1-YZRIO1NAhvvDlvRzXzqs_aYFyk">
<meta name="og:url" content="https://www.scooprank.com/popularity/">
<meta name="og:site_name" content="ScoopRank">
<meta name="og:locale" content="en_US">
<meta name="og:type" content="article">
<!-- Open Graph - Article -->
<meta name="article:section" content="Technology">
<meta name="article:author" content="ScoopRank">
<meta property="og:image:width" content="750" />
	<meta property="og:image:height" content="369" />
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        	<div class="app">
		{{{ body }}}
	</div>
    </body>
</html>
