<html>
    <head>
        <title>Unsplash Api</title>
        <link href="style.css" rel="stylesheet">
<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>ScoopRank</title>
<!-- Search Engine -->
<meta name="description" content="ScoopRank is a deep tech product to rank entities over the internet.">
<meta name="image" content="https://media-exp1.licdn.com/dms/image/D4D1BAQFcgrmRgarMuA/company-background_10000/0/1659979583773?e=2147483647&v=beta&t=0Wp-dtGDqnPiHGD1-YZRIO1NAhvvDlvRzXzqs_aYFyk">
<!-- Schema.org for Google -->
<meta itemprop="name" content="ScoopRank">
<meta itemprop="description" content="ScoopRank is a deep tech product to rank entities over the internet.">
<meta itemprop="image" content="https://media-exp1.licdn.com/dms/image/D4D1BAQFcgrmRgarMuA/company-background_10000/0/1659979583773?e=2147483647&v=beta&t=0Wp-dtGDqnPiHGD1-YZRIO1NAhvvDlvRzXzqs_aYFyk">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ScoopRank">
<meta name="twitter:description" content="ScoopRank is a deep tech product to rank entities over the internet.">
<meta name="twitter:site" content="@ScoopRank2">
<meta name="twitter:creator" content="@ScoopRank2">
<meta name="twitter:image:src" content="https://media-exp1.licdn.com/dms/image/D4D1BAQFcgrmRgarMuA/company-background_10000/0/1659979583773?e=2147483647&v=beta&t=0Wp-dtGDqnPiHGD1-YZRIO1NAhvvDlvRzXzqs_aYFyk">
<!-- Twitter - Article -->
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="ScoopRank">
<meta name="og:description" content="ScoopRank is a deep tech product to rank entities over the internet.">
<meta name="og:image" content="https://media-exp1.licdn.com/dms/image/D4D1BAQFcgrmRgarMuA/company-background_10000/0/1659979583773?e=2147483647&v=beta&t=0Wp-dtGDqnPiHGD1-YZRIO1NAhvvDlvRzXzqs_aYFyk">
<meta name="og:url" content="https://www.scooprank.com/popularity/">
<meta name="og:site_name" content="ScoopRank">
<meta name="og:locale" content="en_US">
<meta name="og:type" content="article">
<!-- Open Graph - Article -->
<meta name="article:section" content="Technology">
<meta name="article:author" content="ScoopRank">
<meta property="og:image:width" content="750" />
<meta property="og:image:height" content="369" />
<meta property="twitter:image:width" content="750" />
<meta property="twitter:image:height" content="369" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Vendor CSS Files -->


    </head>
    <body>
        <!-- <input type="text" id="search" placeholder="Search Photos here...">
        <button onclick="searchPhoto()">Search</button> -->
        <header>
            <div class="container">
              <div id="header">
                <h2><i class="fas fa-camera" style="color: orange;"></i> Unsplash API By Abubakar Zorrain
                </h2>
                <div id="search_box">
                  <input id="search" type="text" placeholder="Search Photos here..."><i id="search" class="fas fa-search"></i>
                  <input type="button" onclick="searchPhoto()" class="button" value="Input Button">                </div>
              </div>
            </div>
          </header>
        <section>
            <div class="container">
              <div id="grid"></div>
            </div>
          </section>
        <script src="sfn.js"></script>  
        <script src="search.js"></script>

    </body>
</html>
